<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.demo.mybatis.dao.IDmRoleDAO">
	<resultMap type="DmRole" id="DmRoleMap">
	   <id column="rl_id" property="rlId"/>
	   <result column="rl_name" property="rlName"/>
	   <result column="rl_remark" property="rlRemark"/>
	   
	   <collection property="dmUsers"
	               ofType="DmUser"
	               column="rl_id"
	               select="cn.com.demo.mybatis.dao.IDmUserDAO.findUsersByRoleId"></collection>                       
	</resultMap>
	
	
	<select id="findById" parameterType="int" resultMap="DmRoleMap">
	   select * from dm_role where rl_id=#{rlId}
	</select>
	<select id="findRolesByUserId" parameterType="int" resultMap="DmRoleMap">
	   select rl.* from dm_role rl inner join map_ur_rl mp on rl.rl_id=mp.mp_rl_id
	   where mp.mp_ur_id=#{urId}
	</select>


	<select id="findAll" parameterType="Map" resultMap="DmRoleMap">
		select * from dm_role 
		<where>
			<if test="rlName != null and rlName != '' ">
				and rl_name like '%${rlName}%'
			</if>
			<if test="rlRemark != null and rlRemark != '' ">
				and rl_remark like '%${rlRemark}%'
			</if>
		</where>
	</select>
	<insert id="save" parameterType="DmRole" useGeneratedKeys="true" keyColumn="rl_id" keyProperty="rlId">
	   insert into dm_role (rl_id,rl_name,rl_remark)
	               values (seq_demo.nextval,#{rlName},#{rlRemark})
	</insert>
	<update id="update" parameterType="DmRole" >
		update dm_role set 
		rl_name=#{rlName},rl_remark=#{rlRemark}
		where rl_id=#{rlId}
	</update>
	
	<delete id="delete" parameterType="DmRole">
		delete from dm_role where rl_id=#{rlId}
	</delete>
	<delete id="deleteFromRoleAndUser" parameterType="DmRole">
		delete from map_ur_rl where mp_rl_id=#{rlId}
	</delete>
	<delete id="deleteFromRoleAndItem" parameterType="DmRole">
		delete from map_rl_pi where mp_rl_id=#{rlId}
	</delete>
	
	<select id="findPowerItemsByRoleId" parameterType="int" resultMap="DmRoleMap">
		select pi.* from dm_power_item pi left outer join map_rl_pi mp on pi.pi_id=mp.mp_pi_id where mp.mp_rl_id=#{rlId}
	</select>
</mapper>

